.productlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 20px;
  justify-content: center;
  padding: 10px;
  .card {
    width: 300px;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 0px 1px 0px black;
    }
    .footer {
      padding: 10px;
      .name {
        font-size: 20px;
        font-weight: bold;
      }
      .name,
      .description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .price {
        .listprice {
          font-weight: bold;
          font-size: 18px;
        }
        .maxprice {
          text-decoration: line-through;
          margin: 0px 10px;
        }
        .discount {
          color: red;
        }
      }
    }
  }
}
