.productlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 20px;
  justify-content: center;
  padding: 10px;
  .card {
    width: 300px;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 0px 1px 0px black;
      .variant {
        visibility: visible !important;
      }
    }
    .footer {
      padding: 10px;
      .name {
        font-size: 20px;
        font-weight: bold;
      }
      .name,
      .description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .price {
        position: relative;
        .variant {
          visibility: hidden;
          position: absolute;
          width: calc(100% + 20px);
          height: 120px;
          left: -10px;
          top: -120px;
          padding: 10px;
          box-sizing: border-box;
          background: white;
          display: flex;
          flex-direction: column;
          .variant-list {
            display: flex;
            justify-content: space-around;
            span {
              border-radius: 50%;
              border: 1px solid #ab9e9e;
              width: 35px;
              height: 35px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: bold;
              &:hover {
                border: 1px solid black;
              }
            }
          }
          .addcart {
            padding: 10px;
            margin-top: 22px;
            font-weight: bold;
            border: 1px solid #c5c2c2;
            font-size: 13px;
            outline: none;
            cursor: pointer;
          }
        }
        .listprice {
          font-weight: bold;
          font-size: 18px;
        }
        .maxprice {
          text-decoration: line-through;
          margin: 0px 10px;
        }
        .discount {
          color: red;
        }
      }
    }
  }
}
