header {
  display: flex;
  height: 50px;
  background: white;
  box-shadow: 0px 0px 2px 0px black;
  justify-content: space-between;
  align-items: center;
  .logo {
    height: 100%;
    display: flex;
    -webkit-tap-highlight-color: transparent;
    .hamburger {
      margin: auto 10px;
      cursor: pointer;
      display: none;
      div {
        width: 35px;
        height: 2px;
        background-color: black;
        margin: 6px 0;
      }
    }
    img {
      height: 30px;
      margin: 10px;
      border-radius: 5px;
      animation: fadeIn 0.3s;
    }
  }
  .navlinks {
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    .navItem {
      font-weight: bold;
      font-size: 18px;
      text-decoration: none;
      margin: 10px 7px;
      color: black;
      transition: box-shadow 0.3s ease-in-out;
      &:hover,
      &.active {
        cursor: pointer;
        box-shadow: 0px 3px 0px rgb(249, 58, 31);
      }
    }
  }
  .controls {
    position: relative;
    display: flex;
    height: 30px;
    img {
      width: 20px;
      margin: auto 10px;
      cursor: pointer;
      user-select: none;
    }
    a {
      margin-right: 20px;
      display: flex;
      justify-content: center;
      position: relative;
      .cartcount {
        display: inline-block;
        position: absolute;
        right: -4px;
        top: -8px;
        height: 20px;
        font-size: 10px;
        width: 20px;
        text-align: center;
        line-height: 20px;
        border-radius: 50%;
        color: black;
        background: #f93a1f;
      }
    }
    .searchbox-large {
      border: none;
      outline: none;
      width: 200px;
      font-size: 12px;
      height: 20px;
      padding: 5px;
      padding-right: 30px;
      box-shadow: 0px 0px 1px 0px black;
    }
    .searchIcon {
      display: none;
    }
  }
}

@media only screen and (max-width: 900px) {
  header {
    .logo {
      .hamburger {
        display: block;
      }
    }
    .controls {
      .searchIcon {
        display: block;
      }
    }
    .searchbox-large,
    .navlinks {
      display: none;
    }
  }
}
