#root {
  overflow: auto;
  height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}
/** Global animation style **/
@keyframes fadeIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
